<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
    .form-container {
        font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-family: "Avenir";
        width: 50%;
        margin-left:10%;
        position: absolute;
        top: 80px;
        left: 0;
    }
    .button-container {
        margin-top:10%;
        float: right;
        margin-right: 30%;
    }
</style>
<html>
  <body>
  {% include './navBar.njk' %}

  <div class="button-container">
  <button onclick="hideB(this)" name="taskb" >Task </button>
  <button onclick="hideA(this)" name="eventb">Event</button>
  </div>

<div id="taskform" class="form-container">
    Add Task
    <form method="POST" class="col s12">
    <input type="hidden" id="type" name="type" value="task" />
    <div class="row">
          <div class="input-field col s6">
            <input name="name" type="text" class="validate">
            <label for="name">Title</label>
          </div>
    </div>
    <div class="row">
              <div class="input-field col s6">
                <input name="date" type="Date" class="validate">
              </div>
        </div>
   <div class="row">
                 <div class="input-field col s6">
                                           <select name="category" id="category" required>
                                             <option value="" disabled selected>Choose a category</option>
                                             <option value="green">green</option>
                                             <option value="blue">blue</option>
                                             <option value="pink">pink</option>
                                             <option value="orange">orange</option>
                                           </select>
                                           <label>Category</label>
                                         </div>
           </div>
    <div class="row">
              <div class="input-field col s6">
                <input placeholder="choose between 0 and 20" name="points" type="number" min="0" max="20" class="validate">
                <label for="points">Points</label>
              </div>
        </div>
      <button type="submit">Submit</button>
    </form>
    </div>

  <div style="visibility: hidden" id="eventform" class="form-container">
    Add Event
    <form method="POST" class="col s12">
    <div class="row">
          <div class="input-field col s6">
            <input required="required" name="name" type="text" class="validate">
            <label for="name">Title</label>
          </div>
    </div>
    <div class="row">
              <div class="input-field col s6">
                <input required="required" name="date" type="Date" class="validate">
              </div>
              <div class="input-field col s6">
                          <select name="category" id="category" required>
                            <option value="" disabled selected>Choose a category</option>
                            <option value="green">green</option>
                            <option value="blue">blue</option>
                            <option value="pink">pink</option>
                            <option value="orange">orange</option>
                          </select>
                          <label>Category</label>
                        </div>
        </div>

    <div class="row">
                  <div class="input-field col s6">
                    <input required="required" id="allday" name="allday" type="checkbox" />
                    <label for="allday">All Day?</label>
                  </div>
            </div>
    <div class="row">
                  <div class="input-field col s6">
                    <input required="required" id="start" name="start" type="time" class="validate">
                  </div>
                  <div class="input-field col s6">
                                      <input id="end" name="end" type="time" class="validate">
                                    </div>
            </div>
      <button type="submit">Submit</button>
    </form>
    </div>
  </body>


</html>

<script>
document.getElementById('allday').onchange = function() {
    document.getElementById('start').disabled = this.checked;
    document.getElementById('end').disabled = this.checked;
};
$(document).ready(function() {
    $('select').material_select();
});

function hideA(x) {
     document.getElementById("type").value = "task"
     document.getElementById("taskform").style.visibility = "hidden";
     document.getElementById("eventform").style.visibility = "visible";
 }

 function hideB(x) {
     document.getElementById("type").value = "event"
     document.getElementById("eventform").style.visibility = "hidden";
     document.getElementById("taskform").style.visibility = "visible";
 }
</script>