<html>
  <head>
    <title>Sign up page</title>
  </head>
  <body>
    <h1>Add Task</h1>
    <form method="POST">
      Name: <br/>
      <input type="text" name="name"/> <br/>
      Date: <br/>
      <input type="Date" name="date"/> <br/>
      Category: <br/>
      <input type="text" name="category"/> <br/>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
