
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
	.page-background {
		background: #FFF;
		padding-top:0px;
	}

    .landing-container {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-image: url("./images/Landing.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .about-container {
        text-align: center;
        position: relative;
        height: 60vw;
        margin-top:3vw;
        font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        width: 100%;
        word-wrap: break-word;
        font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        color: black;
    }

    .about-text {
        text-align: left;
        float:right;
        width: 50%;
        margin-top:6vw;
        margin-right:5%;
        font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        word-wrap: break-word;
        font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        color: black;
    }

    .welcome {
        text-align: center;
        margin-top:9vw;
        font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        text-transform: uppercase;
        font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }

    .subhead {
        text-align: center;
        font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        text-transform: lowercase;
        font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }

    .largeTasks {
        float: left;
        margin-left:5vw;
        margin-top:5vw;

    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }


 #loader-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1000;
 }
 #loader {
     display: block;
     position: relative;
     left: 50%;
     top: 50%;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #9cc345;

     -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
     animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

     z-index: 1001;
 }

     #loader:before {
         content: "";
         position: absolute;
         top: 5px;
         left: 5px;
         right: 5px;
         bottom: 5px;
         border-radius: 50%;
         border: 3px solid transparent;
         border-top-color: #bee171;

         -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
         animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
     }

     #loader:after {
         content: "";
         position: absolute;
         top: 15px;
         left: 15px;
         right: 15px;
         bottom: 15px;
         border-radius: 50%;
         border: 3px solid transparent;
         border-top-color: #dcecba;

         -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
           animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
     }

     @-webkit-keyframes spin {
         0%   {
             -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
             -ms-transform: rotate(0deg);  /* IE 9 */
             transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
         }
         100% {
             -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
             -ms-transform: rotate(360deg);  /* IE 9 */
             transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
         }
     }
     @keyframes spin {
         0%   {
             -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
             -ms-transform: rotate(0deg);  /* IE 9 */
             transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
         }
         100% {
             -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
             -ms-transform: rotate(360deg);  /* IE 9 */
             transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
         }
     }

     #loader-wrapper .loader-section {
         position: fixed;
         top: 0;
         width: 51%;
         height: 100%;
         background: #FFF;
         z-index: 1000;
         -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: translateX(0);  /* IE 9 */
         transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */

     }

     #loader-wrapper .loader-section.section-left {
         left: 0;
     }

     #loader-wrapper .loader-section.section-right {
         right: 0;
     }

     /* Loaded */
     .loaded #loader-wrapper .loader-section.section-left {
         -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
             -ms-transform: translateX(-100%);  /* IE 9 */
                 transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

         -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                 transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     }

     .loaded #loader-wrapper .loader-section.section-right {
         -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
             -ms-transform: translateX(100%);  /* IE 9 */
                 transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

 -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
         transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     }

     .loaded #loader {
         opacity: 0;
         -webkit-transition: all 0.3s ease-out;
                 transition: all 0.3s ease-out;
     }
     .loaded #loader-wrapper {
         visibility: hidden;

         -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
             -ms-transform: translateY(-100%);  /* IE 9 */
                 transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

         -webkit-transition: all 0.3s 1s ease-out;
                 transition: all 0.3s 1s ease-out;
     }

 @keyframes shimmy {
     0% {
         transform: translatey(-20px);
         opacity: 0;
     }
     100% {
         transform: translatey(20px);
         opacity: 1;
     }
 }

</style>

<div id="loader-wrapper">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<body class="page-background">
    {% include './navBar.njk' %}
    {% if (user) %}
    <div class="welcome">Welcome {{user}} </div>
    <div class="subhead">here's what you have planned for today </div>
    <div class="largeTasks">
    <a id="add" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>ADD TASK</a>
    {% for item in tasks %}
        {% if (item.complete) %}
        <br>
        <a style="text-decoration: line-through; height:40px; float:left" class="waves-effect waves-light btn"><i class="material-icons left">check</i> {{item.name}}</a>
        {% else %}
        <br>
        <a style="height:40px; float:left"id={{item.id}} onclick="check(this)" class="waves-effect waves-light btn"><i id={{ 'icon' + item.id }} class="material-icons left">crop_square</i><span> {{item.name}}</span></a>
        {% endif %}
    {% else %}
        <br>
        <span style="float:left">No tasks for today</span>
    {% endfor %}
    </div>

     <div class="largeTasks">
        <a id="addevent" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>ADD Event</a>
        {% for item in events %}
            <br>
            {% if (item.allDay) %}
            <a style="height:40px; float:left"id={{item.id}} class="waves-effect waves-light btn"><span> All Day: {{item.name}}</span></a>
            {% else %}
             <a style="height:40px; float:left"id={{item.id}} class="waves-effect waves-light btn"><span> {{item.startTime}} - {{item.endTime}}: {{item.name}}</span></a>
            {% endif %}
        {% else %}
            <br>
            <span style="float:left">No events for today</span>
        {% endfor %}
        </div>
    {% else %}
    <div class="welcome">Welcome </div>
    <div class="subhead">want to get started? <br>
    <a href="/signup">sign up</a> | <a href="/login">log in</a></div>

    <div class="landing-container"> </div>
    {% endif %}


</body>

</html>

<script>

function check(element) {
    var id = element.id;
    $(element).css({
        'text-decoration': 'line-through'
    })
    document.getElementById('icon' + id).textContent="check";
    $.ajax({
        url: '/completeTask',
        data: { taskID: id },
        type: 'POST',
        success: function(res) {
        console.log(res)
        }
    })

}

$(document).ready(function() {
    setTimeout(function(){
        $('body').addClass('loaded');
        $('h1').css('color','#9cc345');
    }, 100);
});

 document.getElementById("add").onclick = function () {
        $('body').fadeTo( "slow", 0 );
        setTimeout(function () {
            location.href = "/addTask";
        }, 500);
    };

 document.getElementById("addevent").onclick = function () {
        $('body').fadeTo( "slow", 0 );
        setTimeout(function () {
            location.href = "/addEvent";
        }, 500);
    };
</script>

