<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>

.month {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}
.week {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;
}

.day {
  border-style: solid;
  border-width: 1px;
}
.day-label {
  grid-row-start: 1;
  text-align: right;
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin:0;
}

.week-day, .day-label, .event {
  padding: 4px 10px;
}

.event {
  background-color: #CCC;
  font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: calc(2px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

}

.event-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.event-start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.day:nth-child(1) > .event { grid-column-start: 1; }
.day:nth-child(2) > .event { grid-column-start: 2; }
.day:nth-child(3) > .event { grid-column-start: 3; }
.day:nth-child(4) > .event { grid-column-start: 4; }

[data-span="1"] { grid-column-end: span 1; }
[data-span="2"] { grid-column-end: span 2; }
[data-span="3"] { grid-column-end: span 3; }
[data-span="4"] { grid-column-end: span 4; }
[data-span="5"] { grid-column-end: span 5; }
[data-span="6"] { grid-column-end: span 6; }
[data-span="7"] { grid-column-end: span 7; }



/* other */
a { color: blue; }
</style>

<html>
  {% include './navBar.njk' %}

<div class="month">
    <span style="font-family:Avenir; font-size: 20px"id="todayDate"></span>
<div style="margin-top:5%"class="week">
  <div class="week-day">Sunday</div>
  <div class="week-day">Monday</div>
  <div class="week-day">Tuesday</div>
  <div class="week-day">Wednesday</div>
  <div class="week-day">Thursday</div>
  <div class="week-day">Friday</div>
  <div class="week-day">Saturday</div>
</div>

{% for weekObj in weeks %}
<div class="week">
{% for item in weekObj.days %}
    <div class="day">
        {% if (item != 0) %}
        <h3 class="day-label">{{item}}</h3>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endfor %}

<div class="week">
  <div class="day">
    <h3 class="day-label">1</h3>
    <div class="event event-start event-end" data-span="2">Class</div>
    <div class="event event-end">Interview</div>
  </div>
  <div class="day">
    <h3 class="day-label">2</h3>
    <div class="event event-start event-end" data-span="1">Dinner</div>
  </div>
  <div class="day">
    <h3 class="day-label">3</h3>
    <div class="event event-start event-end" data-span="2">School</div>
  </div>
  <div class="day">
    <h3 class="day-label">4</h3>
    <div class="event event-start" data-span="4">Meeting</div>
  </div>
  <div class="day">
    <h3 class="day-label">5</h3>
  </div>
  <div class="day">
    <h3 class="day-label">6</h3>
  </div>
  <div class="day">
    <h3 class="day-label">7</h3>
  </div>
</div>

<div class="week">
  <div class="day">
    <h3 class="day-label">1</h3>
    <div class="event event-start event-end" data-span="2">Class</div>
    <div class="event event-end">Interview</div>
  </div>
  <div class="day">
    <h3 class="day-label">2</h3>
    <div class="event event-start event-end" data-span="1">Dinner</div>
  </div>
  <div class="day">
    <h3 class="day-label">3</h3>
    <div class="event event-start event-end" data-span="2">School</div>
  </div>
  <div class="day">
    <h3 class="day-label">4</h3>
    <div class="event event-start" data-span="4">Meeting</div>
  </div>
  <div class="day">
    <h3 class="day-label">5</h3>
  </div>
  <div class="day">
    <h3 class="day-label">6</h3>
  </div>
  <div class="day">
    <h3 class="day-label">7</h3>
  </div>
</div>
</div>
</html>

<script>
    var date = new Date();
    const monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];
    document.getElementById('todayDate').textContent=monthNames[date.getMonth()] + " " +  date.getFullYear();
</script>