<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
.popup-overlay {
  visibility:hidden;
  background:#ffffff;
  border:3px solid #666666;
  top:20%;
  width:50%;
  height:50%;
  left:25%;
  position:absolute;
}

.popup-content {
    visibility:hidden;
    background:#ffffff;
    border:3px solid #666666;
}
.popup-overlay.active{
  visibility:visible;
  text-align:center;
}

.popup-content.active {
visibility:visible;
}

.month {
    width: 90%;
    margin-top: 10%;
    margin-left: 1%;
}
.week {
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: dense;
}

.day {
  border-style: none solid solid none;
  border-width: 1px;
}

.day-label {
  grid-row-start: 1;
  text-align: right;
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom:10%;
}

.open {
background:none;
    grid-row-start: 1;
  text-align: right;
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border:none;
}
.week-day {
    font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.week-day, .day-label, .event {
  padding: 0px 10px;
}

.event {
  background-color: #CCC;
  font-family: "Avenir", "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: calc(2px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  float:left;
}

.event-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.event-start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

</style>

<html>
  {% include './navBar.njk' %}

<div class="month">

<div style="margin-top:5%"class="week">
  <div class="week-day"></div>
  {% for day in week %}
  <div class="week-day">{{day.month + " / " + day.num}}</div>
  {% endfor %}
</div>

<div class="week">
    <div class="day-label"> </div>
{% for day in week %}
    <div class="day">
        {% for event in day.events %}
            {% if event.allDay %}
            <div style="width:100%; background-color:{{event.category}}; border-width:1px; border-style:dashed;border-color:{{event.category}}" class="event event-end">{{event.name}}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>

{% for time in times %}
<div class="week">
    <div style="font-size:10px" class="day-label">{{time.time}}</div>
    {% for day in time.days %}
    <div id={{time.time + "," + day.num}} onclick="popup(this)" class="day">
        {% for event in day.events %}
            <div style="width:50%; background-color:{{event.category}}; border-width:5px; border-style:dashed;border-color:{{event.category}}" class="event event-end">{{event.name.substring(0, 9)}}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}

</div>

<div class="popup-overlay">
 <div class="popup-content">
    <div class="form-container">
        Add Event
        <form method="POST" class="col s12">
        <div class="row">
              <div class="input-field col s6">
                <input required="required" name="name" type="text" class="validate">
                <label for="name">Title</label>
              </div>
        </div>
        <div class="row">
                  <div class="input-field col s6">
                    <input required="required" name="date" id="date" type="Date" class="validate">
                  </div>
                  <div class="input-field col s6">
                              <select name="category" id="category" required>
                                <option value="" disabled selected>Choose a category</option>
                                <option value="green">green</option>
                                <option value="blue">blue</option>
                                <option value="pink">pink</option>
                                <option value="orange">orange</option>
                              </select>
                              <label>Category</label>
                            </div>
            </div>

        <div class="row">
                      <div class="input-field col s6">
                        <input id="allday" name="allday" type="checkbox" />
                        <label for="allday">All Day?</label>
                      </div>
                </div>
        <div class="row">
                      <div class="input-field col s6">
                        <input required="required" id="start" name="start" type="time" class="validate">
                      </div>
                      <div class="input-field col s6">
                                          <input id="end" name="end" type="time" class="validate">
                                        </div>
                </div>
          <button type="submit">Submit</button>
        </form>
        </div>
    <button style="float:left"class="close">Close</button>
</div>
</div>

</html>

<script>
    var date = new Date();
    const monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];


    function popup(hi) {
        var time = hi.id.substr(0, hi.id.indexOf(','));
        var day = hi.id.substr(hi.id.indexOf(',') + 1);
        var curr = date.getDay();
        if (day < curr) {
            var diff = curr - day;
            var tDay = new Date();
            tDay.setDate(date.getDate() - diff);
            document.getElementById('date').valueAsDate = tDay;
        } else if (day > curr) {
            var diff = day - curr;
            var tDay = new Date();
            tDay.setDate(date.getDate() + diff);
            document.getElementById('date').valueAsDate = tDay;
        } else {
            document.getElementById('date').valueAsDate = date;
        }
        document.getElementById('start').value = time;
        $(".popup, .popup-content").addClass("active");
    }

    $(".close, .popup").on("click", function(){
    $(".popup, .popup-content").removeClass("active");
    });

document.getElementById('allday').onchange = function() {
    document.getElementById('start').disabled = this.checked;
    document.getElementById('end').disabled = this.checked;
};
    $(document).ready(function() {
        $('select').material_select();
            document.getElementById('date').valueAsDate = new Date();

    });
</script>